@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');
body{
    margin:0;
    padding: 0;
    background-color: rgba(50,50,200,1);
    font-family: 'B612', sans-serif;
}
header{
    background-color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin:0;
    padding: 0;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 16px;
}
p{
    margin: 8px;
}

a{
    color:rgba(50,50,200,1)
}
svg{
    background-color: white;
    height: 100px;
    width: 100%;
}

.parallax > use{
    animation: waveOn 20s infinite cubic-bezier(.55,.5,.45,.5); 
}

.parallax > use:nth-child(1){
   animation-duration: 7s ; 
   animation-delay: -2s;
}
.parallax > use:nth-child(2){
   animation-duration: 10s ; 
   animation-delay: -5s;
}
.parallax > use:nth-child(3){
   animation-duration: 12s ; 
   animation-delay: -7s;
}
.parallax > use:nth-child(4){
   animation-duration: 17s ; 
   animation-delay: -5s;
}
.parallax > use:nth-child(5){
   animation-duration: 10 ; 
   animation-delay: -5;
}


@keyframes waveOn {
    0%{
        transform: translateX(-90px);
    }
    100%{
        transform: translateX(85px);
    }
}